@section scripts{
    <script src="~/ApplicationJS/app.js"></script>
}

<div ng-app="WebFileSystem">
    <div class="container" ng-controller="HomeController">

        <div class="table">
            <table class="table table-bordered">
                <tr>
                    <th>Less 10Mb</th>
                    <th>10Mb-50Mb</th>
                    <th>More 100Mb</th>
                </tr>
                <tr>
                    <td>{{less10Mb}}</td>
                    <td>{{less50Mb}}</td>
                    <td>{{more100Mb}}</td>
                </tr>
            </table>
        </div>


        <div id="current-dirrectory">
            <span>Current path:</span> {{ currentPath }} 
        </div>

        <br />
        <div id="section">
            <a href="#" ng-click="getBack()">..</a>

            <div id="display" ng-repeat="item in result">
                <a href="#" ng-click="getPath(item.FullPath)">{{ item.FileName }} </a><br />
            </div>
        </div>
    </div>
</div>

