@section scripts{
    <script src="~/ApplicationJS/app.js"></script>
}

<div ng-app="WebFileSystem">
    <div class="container" ng-controller="HomeController">

        <div id="current-dirrectory">
            <p>Current path: {{ currentPath }}</p>
        </div>

        <a href="#" ng-click="getBack()">..</a>

        <div id="display" ng-repeat="item in result.dirs">
            <a href="#" ng-click="getPath(item.FullPath)">{{ item.FileName }} </a><br />
        </div>

        <div ng-repeat="file in result.files">
            {{ file }} <br />
        </div>
    </div>
</div>

